p
{
	color:#FFFFFF;
	font-family: Helvetica;
	font-size: 16px;
}
h1
{
	color:#444444;
	font-family: Helvetica;
}
h2
{
	color:#444444;
	font-family: Helvetica;
}
h3
{
	color:#444444;
	font-family: Helvetica;
}
/**babfdkajflkjalfjlkajfljalkfd**/
#loginarea
{	
	border: 1px solid red;
	height:560px;
	width:784px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	background-image: url(1.jpg);
}
#logo
{
	border: 1px solid yellow;	
	height:148px;
	width:148px;
	margin-left:625px;
	margin-right:50px;
	margin-top:-200px;
}
#login
{
	border:1px solid green;
	height:100px;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	margin-bottom:auto;
}
#loginbutton
{
	border:1px solid grey;
	height:30px;
	width:50px;
	margin-left:500px;
	margin-right:300px;
	margin-top:40px;
	margin-bottom:auto;

}