p
{
	color:#FFFFFF;
	font-family: Helvetica;
	font-size: 16px;
	}

h1
{
	color:#444444;
	font-family: Helvetica;

}

h2
{
	color:#444444;
	font-family: Helvetica;
}
h3
{
	color:#444444;
	font-family: Helvetica;
}
#signuparea
{	
	border: 1px solid red;
	height:560px;
	width:784px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	background-image: url(1.jpg);
}
#logo
{
	border: 1px solid yellow;	
	height:148px;
	width:148px;
	margin-left:625px;
	margin-right:50px;
	margin-top:-200px;

}


#signup
{
	border:1px solid green;
	height:300px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:auto;
}
#signupbutton
{
	border:1px solid grey;
	height:30px;
	width:50px;
	margin-left:500px;
	margin-right:300px;
	margin-top:20px;
	margin-bottom:auto;

}